{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="text-center textos">
    <h1>Crack the <span class="vim-caret">coin</span></h1>
    <h2 class="mt-3 text-mono text-success">Ingrese su nombre de invitado y contraseña</h2>
    <h3 class="text-darkgrey text-mono my-2 mb-5">estos datos se encuentran en la invitación</h3>

    <form method="post">
        {% csrf_token %}
        <label for="name">
            <h3>Nombre:</h3>
        </label>
        <br>
        <h2><input type="text" class="capture" id="name" name="username"></h2>
        <br>
        <label for="password">
            <h3>Contraseña:</h3>
        </label>
        <br>
        <h2><input type="text" class="capture" id="password" name="password"></h2>

        <div class="text-mono">
            <input type="submit" value="Ingresar" class="btn btn-success btn-shadow px-3 my-2 ml-0 text-left capture">
        </div>
    </form>

    {% if error %}
    <h3 class="error-alert">{{ error }}</h3>
    <audio src="{% static 'audio/error.wav' %}" id="error_audio" autoplay></audio>
    {% endif %}
</div>
</div>
{% endblock %}