{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">


    <!-- <link rel="stylesheet" href="css/bootstrap4-neon-glow.min.css"> -->


    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/binary-background.css' %}">
    <script src="{% static 'js/binary-background.js' %}" defer></script>

</head>

<body>
    <audio src="{% static 'audio/chk.wav' %}" id="chk_audio"></audio>
    <audio src="{% static 'audio/error.wav' %}" id="error_audio"></audio>
    <audio src="{% static 'audio/desbloqueo.wav' %}" id="desbloqueo_audio"></audio>
    {% block content %}

    {% endblock %}

    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/keys.js' %}"></script>
</body>

</html>