{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap4-neon-glow.css' %}">
    <link rel='stylesheet' href="{% static 'css/font-hack.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/binary-background.css' %}">
    <script src="{% static 'js/binary-background.js' %}" defer></script>

</head>

<body>
    <div class="jumbotron bg-transparent mb-0 radius-0">
        <div class="container">
            <div class="row mt-5">
                <div class="col text-center">
                    
                        <h1 class="display-2">Crack the <span class="vim-caret">coin</span></h1>
                        <div class="lead mb-3 text-mono text-success">Ingrese su nombre de invitado y contraseña</div>
                        <div class="text-darkgrey text-mono my-2">estos datos se encuentran en la invitación</div>

                        <form class="needs-validation" action="userpanel.html" novalidate>

                            <div class="row">
                                <div class="col-3"></div>
                                <div class="col-6">
                                    <label for="firstName">Nombre</label>
                                    <input type="text" class="form-control capture" id="firstName" placeholder=""
                                        value="" required>

                                </div>
                            </div>

                            <div class="row my-2">
                                <div class="col-3"></div>
                                <div class="align-items-center col-6">
                                    <label for="lastName">Contraseña</label>
                                    <input type="text" class="form-control capture" id="lastName" placeholder=""
                                        value="" required>

                                </div>
                            </div>


                            <div class="text-mono">
                                <input type="submit" value="Ingresar"
                                    class="btn btn-success btn-shadow px-3 my-2 ml-0 text-left capture">
                            </div>
                        </form>
                    


                    <!-- <p class="mt-5 text-grey text-spacey">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, dignissimos provident.
                        Alias, aliquid, cum cumque deleniti dignissimos eos exercitationem explicabo illum inventore
                        laboriosam nihil nobis nostrum praesentium recusandae sequi, sint!
                    </p> -->
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript -->

    <script src="{% static 'js/bootstrap.js'%}"></script>
    <script src="{% static 'js/keys.js' %}"></script>
</body>

</html>