{% extends 'base_lock.html' %}

{% block content %}
<div class="bg-transparent mt-4 ">
    <div class="text-center textos">
        <h1>Candado 3</h1>
        <h2>Busqueda del tesoro</h2>
        <h3>En el lugar donde reposa el descanso,
            donde los pies encuentran su arrullo manso,
            allí aguarda la pista, sutil y serena,
            bajo la silla, entre la madera amena.
            Explora ese rincón donde el suelo se besa,
            y desvela el enigma que aguarda en su promesa.</h3>
        <br>
        <form action="">
            <h2><input type="text" placeholder="**********" class="text-center" maxlength="10"></h2>
            <button type="submit" class="btn btn-success">
                <h3>Desbloquear</h3>
            </button>
        </form>
    </div>
</div>
{% endblock %}