{% extends 'base.html' %}
{% load static %}

{% block content %}
<audio src="{% static 'audio/amigoInvisible.mp3' %}" autoplay loop></audio>

<div>
    <h3><a href="userpanel" style="position: fixed; margin-left: 150px; border-radius: 10px;" class="capture">volver</a>
    </h3>
</div>
<div class="bg-transparent mt-4 ">
    <div class="text-center textos">
        <h1>Candado 3</h1>
            <h2>Busqueda del tesoro</h2>
            <h3>Este candado se desbloquea completando una busqueda del tesoro. <br>Antes de empezar tené en cuenta que
                este
                candado se resuelve grupalmente ya que la contraseña es la misma para todos. <br>
                Procura dejar las pistas donde las encontraste para que todos puedan resolver este candado. <br>
                Cabe recalcar que no está permitido subir al primer piso.
                <br><br>
                Sin mas preambulos, la primera pista se encuentra debajo de una silla...
            </h3>
        <br>
        <form method="post">
            {% csrf_token %}
            <h2><input type="text" name="code" placeholder="**********" class="text-center capture" maxlength="10"></h2>
            <button type="submit" class="btn btn-success capture">
                <h3>Desbloquear</h3>
            </button>
        </form>
        {% if error %}
        <h3 class="error-alert">{{ error }}</h3>
        <audio src="{% static 'audio/error.mp3' %}" id="error_audio" autoplay></audio>
        {% endif %}
    </div>
</div>
{% endblock %}