{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <h3><a href="userpanel" style="position: fixed; margin-left: 150px; border-radius: 10px;" class="capture">volver</a></h3>
</div>
<div class="bg-transparent mt-4 ">
    <div class="text-center textos">
        <h1>Candado 1</h1>
        <h2>Encontrá a tu amigo invisible</h2>
        <h3>en esta fiesta todos tienen una persona especial que atesora la contraseña que se necesita para
            desbloquear este candado...</h3>
        <h3>En tu caso esa persona se llama: {{user.jugador.soulmate}}</h3>
        <h3>Buscalo y pedile su codigo de invitado para desbloquear este candado. Una vez que lo tengas, ingresalo
            en el siguiente campo y presiona el boton para desbloquear</h3>
        <br>
        <form method="post">
            {% csrf_token %}
            <h2><input type="text" name="code" placeholder="**********" class="text-center capture" maxlength="10"></h2>
            <button type="submit" class="btn btn-success capture">
                <h3>Desbloquear</h3>
            </button>
        </form>
        {% if error %}
            <h3 class="error-alert">{{ error }}</h3>
            <audio src="{% static 'audio/error.wav' %}" id="error_audio" autoplay></audio>
        {% endif %}
    </div>
</div>
{% endblock %}