{% extends 'base.html' %}
{% load static %}





{% block content %}
<audio src="{% static 'audio/panel.mp3' %}" autoplay></audio>

<div>
    <h3><a href="/" style="position: fixed; margin-left: 150px; border-radius: 10px;" class="capture">salir</a></h3>
</div>
<div class="bg-transparent mt-4 ">
    <div class="text-center">
        <h1 style="width: 50%; margin:auto;">Bienvenido {{user.username}}</h1>
        {% if user.jugador.winner %}
        <h2>Felicitaciones! Ganaste el juego!</h2>
        {% else %}
        <h2>Selecciona un candado para desbloquear</h2>
        {% endif %}


        <!-- ---------------- -->
        {% if user.jugador.lock1 %}
        <a class="candado desbloqueado capture">
            <div class="imagen">
                <h1>1</h1>
            </div>
            <div class="selector">

            </div>
        </a>
        {% else %}
        <a href="lock1" class="candado bloqueado capture">
            <div class="imagen">
                <h1>1</h1>
            </div>
            <div class="selector">

            </div>
        </a>
        {% endif %}

        <!-- ---------------- -->
        {% if user.jugador.lock2 %}
        <a class="candado desbloqueado capture">
            <div class="imagen">
                <h1>2</h1>
            </div>
            <div class="selector">

            </div>
        </a>
        {% else %}
        <a href="lock2" class="candado bloqueado capture">
            <div class="imagen">
                <h1>2</h1>
            </div>
            <div class="selector">

            </div>
        </a>
        {% endif %}

        <br>
        <!-- ---------------- -->

        {% if user.jugador.lock3 %}
        <a class="candado desbloqueado capture">
            <div class="imagen">
                <h1>3</h1>
            </div>
            <div class="selector">

            </div>
        </a>
        {% else %}
        <a href="lock3" class="candado bloqueado capture">
            <div class="imagen">
                <h1>3</h1>
            </div>
            <div class="selector">

            </div>
        </a>
        {% endif %}

        <!-- ---------------- -->
        {% if user.jugador.lock4 %}
        <a class="candado desbloqueado capture">
            <div class="imagen">
                <h1>4</h1>
            </div>
            <div class="selector">

            </div>
        </a>
        {% else %}
        <a href="lock4" class="candado bloqueado capture">
            <div class="imagen">
                <h1>4</h1>
            </div>
            <div class="selector">

            </div>
        </a>
        {% endif %}

        <!-- ---------------- -->
        {% if success %}
        <audio src="{% static 'audio/desbloqueo.mp3' %}" id="desbloqueo_audio" autoplay></audio>
        <script>
            setTimeout(function() {
                window.location.href = "userpanel";
            }, 700);
        </script>
        {% endif %}
    </div>
</div>
{% endblock %}